version: 2

jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: true
    steps:
      - checkout
      # - run:
      #     name: "Install docker"
      #     command: |
      #       sudo apt-get update
      #       sudo apt-get install \
      #         apt-transport-https \
      #         ca-certificates \
      #         curl \
      #         gnupg-agent \
      #         software-properties-common
      #       curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
      #       sudo add-apt-repository \
      #         "deb [arch=amd64] https://download.docker.com/linux/ubuntu \
      #         $(lsb_release -cs) \
      #         stable"
      #       sudo apt-get update
      #       sudo apt-get install docker-ce docker-ce-cli containerd.io
      #       docker -v
      # - run:
      #     name: "Install docker compose"
      #     command: |
      #       sudo curl -L "https://github.com/docker/compose/releases/download/1.26.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
      #       sudo chmod +x /usr/local/bin/docker-compose
      # - run: "sudo chown $(whoami) /var/run/docker.sock"
      # - run: "docker-compose build"
      - run:
        name: "Run init the database"
        command: |
          docker-compose run -e "RAILS_ENV=test" web rake db:create db:migrate
      - run:
          name: "Run unit test"
          command: |
            docker-compose run -e "RAILS_ENV=test" web rake test
