version: 2

jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: true
    steps:
      - checkout
      - run: "sh check_docker.sh"
      - run: "sh check_docker_compose.sh"
      - run: "sudo chown $(whoami) /var/run/docker.sock"
      - run: "docker-compose build"
      - run:
          name: "Run init the database"
          command: |
            docker-compose run -e "RAILS_ENV=test" web rake db:create db:migrate
      - run:
          name: "Run unit test"
          command: |
            docker-compose run -e "RAILS_ENV=test" web rake test
            ssh $SSH_USER@$SSH_IP "cd rails-circleci && ls -a"
