version: 2

jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: "Run init the database"
          command: |
          docker-compose run -e "RAILS_ENV=test" web rake db:create db:migrate
      - run:
          name: "Run unit test"
          command: |
            docker-compose run -e "RAILS_ENV=test" web rake test
